Fonts*/
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Orbitron|Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
/*Fonts end*/
body {
  font-family: 'Paytone One', sans-serif;
}

/*Body End*/

/*Background 1*/
.bg-1 {
   
    width: 100%;
    height: 100vh;
   /* background-color: #F2F1ED;*/
   background: url(Images/mac.jpg);
    background-image: 20 width;
    background-size: cover;
    overflow:overlay

}
.bg-1 h1, h2 {
     font-size: 50px;
    font-family: 'Satisfy', cursive;

   color: #F2F1ED
  
}
/*Background 1 end*/

/*Background 2 img*/
.bg-1 img {
    width: 300px;
    height: 300px;

}
/*Background 2*/
.bg-2 { 

    background-color:#F2F1ED; /* Dark Blue */
    color: #ffffff;
    /*width: 100%;
    height: 100vh;*/
    background-repeat:repeat;
   background-size: cover;
   overflow:overlay
}

/*.bg-2 .jumbotron {
    background-color: #E79D83;
}
*/
.bg-2 h3 {
    display:inline;
    border-style: solid;
    text-align: center;
    color: #2E344A;
    font-weight: 900; 
}
.bg-2 p {
     border-left: thick solid #F2F1ED;
     color: black;
}
.bg-2 h2 {
    color: black;
}
.bg-2 img {
    max-width: 200px;
    height: 150px;
    border-radius: 40px
}
.bg-2 b {
    color: #2E344A;
}

/*Background 2 End*/

/*Background 3 */
.bg-3 { 
    background-color: #CACACC; /* Dark Blue */
    color: #F2F1ED;
    /*width: 100%;
    height: 100vh;*/
    background-repeat:repeat;
   background-size: cover;
   overflow:overlay
}
/*
.bg-3 .jumbotron {
    background-color: #E79D83;
}
*/
.bg-3 h3 {
    display:inline;
    border-style: solid;
    text-align: center;
    color: #2E344A;
    font-weight: 900; 
}
.bg-3 p {
padding-top: 30px;
     border-left: thick solid black;
     color: black;
     border-spacing: 200px

}
.bg-3 img {
    max-width: 200px;
    height: 150px;
    border-radius: 40px
}
.bg-3 b {
    color: #2E344A;
}
/*Background 3 end*/
/*Background 4*/
.bg-4 { 
   background-color: #F2F1ED;
    color: #555555;
   /* width: 100%;
    height: 100vh;*/
    background-repeat:repeat;
    background-size: cover;
    overflow:overlay
}
/*Image size for bg3 pics*/
.bg-4 img {
    max-width: 250px;
    height: 250px;
    border-radius: 40px

}
.bg-4 h1 {
    display:inline;
    border-style: solid;
    text-align: center;
}
.bg-4 p {

    border-left: thick solid #474e5d;
     padding-left:30px
    color: #2E344A;
      font-size: 20px

}

#bg3headers {
    color: #2E344A;
}

/*Image size for bg end*/

/*Indent*/
span {
    margin-left: 50px
}
/*Background 4 end*/

/*Containerr*/
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
/*Container end*/

/*Navbar*/
.navbar-right img {
    margin-top: 0;
    alignment-baseline: central;
    max-width: 40px;
    height: 40px;
    border-radius: 40px
    margin-bottom: 20px;
}

.navbar-fixed-top{
    margin-bottom: 20px;

}
.navbar {
  /*  padding-top: 10px;
    padding-bottom: 10px;*/

    padding:0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 3px;
     background-color: #FFA639;
     min-height:40px !important
     top: 0;
    left: 0;
    right: 0;
    z-index:1000;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;

}
/*Navbar end*/

/*Navbar brand*/
.navbar-fixed-top {
   padding-top:5px !important; padding-bottom:0 !important;
    /*height: 30px;*/
}
.navbar-default .navbar-right {

}

.navbar-default .navbar-brand {
    font-family: 'Lobster', cursive;
    color: #6599FF;
    font-weight: 900;
    font-size: 25px;


    }

/*Navbar brand end*/

/*Navbar text*/
.navbar .nav > li > a {

    float: none;
font-family: 'Lobster', cursive;
    line-height: 40px;
     padding-top:0.1px !important; padding-bottom:0.1px !important;
    padding: 9px 10px 11px;
    font-weight: 900;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #B71427;

}
/*Navbar text end*/

/*Navbar hover*/
.navbar-nav :hover {
    color: #1abc9c !important;
}

footer h2 {
    color: black
}
footer {
     font-family: 'Satisfy', cursive;
}

/*Navbar hover end*/



/*Footer*/

/*Footer End