Body*/
body {
    font-family: 'Amarante';
}
/*Body End*/

/*Background 1*/
.bg-1 {
    
    width: 100%;
    height: 100vh;
    background-color: #F2F1ED;
    background-image: 20 width;
    background-size: cover;
    overflow:overlay
}
/*Background 1 end*/

/*Background 2 img*/
.bg-1 img {
    width: 300px;
    height: 300px;
   background-size: cover;
}
/*Background 2*/
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    width: 100%;
    height: 100vh;
   background-size: cover;
   overflow:overlay
}

.bg-2 .jumbotron {
    background-color: #E79D83;
}

.bg-2 h3 {
    display:inline;
    border-style: solid;
    text-align: center;
    color: #474e5d;
    font-weight: 900; 
}
.bg-2 p {
     border-left: thick solid #474e5d;
}

/*Background 2 End*/


/*Background 3*/
.bg-3 { 
   background-color: #F2F1ED;
    color: #555555;
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow:overlay
}
/*Image size for bg3 pics*/
.bg-3 img {
    max-width: 250px;
    height: 250px;
    border-radius: 40px

}
.bg-3 p {
    border-left: thick solid #474e5d;
}
/*Image size for bg3 end*/

/*Indent*/
span {
    margin-left: 50px
}
/*Background 3 end*/

/*Containerr*/
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
/*Container end*/

/*Navbar*/
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
     background-color: #474e5d;

}
/*Navbar end*/

/*Navbar brand*/
.navbar-default .navbar-brand {
    color: white
}
/*Navbar brand end*/

/*Navbar text*/
.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: white  
}
/*Navbar text end*/

/*Navbar hover*/
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
/*Navbar hover end